[submodule "tf-a"]
	path = tf-a
	url = https://github.com/aviseqk/trusted-firmware-a.git
[submodule "u-boot"]
	path = u-boot
	url = git@github.com:aviseqk/u-boot.git
[submodule "linux"]
	path = linux
	url = git@github.com:aviseqk/linux.git
[submodule "hafnium"]
	path = hafnium
	url = git@github.com:aviseqk/hafnium.git
[submodule "ff-a-acs"]
	path = ff-a-acs
	url = git@github.com:aviseqk/ff-a-acs.git
